.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 18px;
  font-family: sans-serif, Arial;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: blue;
  margin-bottom: 14px;
}

.input-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: aquamarine;
  color: blueviolet;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f5f7fa;
  border-radius: 6px;
  margin-bottom: 8px;
  border: 1px solid #e6eef4;
}

.remover {
  background: #f00;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}